:root{
  --text-color: rgb(175, 175, 175);
  --bg-icon-color: #e5e7eb;
}
.avatar{
  width: 40px;
  height: 40px;
  background-color: var(--bg-icon-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}